body {
	background: lightsalmon;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: brown;
	text-align: center;
}
.assign {
	display: flex;
	padding: 10px;
	margin: 10px;
	background: lightgoldenrodyellow;
}
.assign img {
	width: 200px;
	padding: 10px;
}
